h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

.tab-content {
  overflow-x: auto;
}

.submit-file-header {
  display: flex;
}
.submit-file-header > .icon {
  margin: 0 10px;
  align-self: center;
}
