{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 180,
    "semi": true,
    "plugins": ["prettier-plugin-vue", "prettier-plugin-svelte"],
    "overrides": [{ "files": "*.vue", "options": { "parser": "vue", "vueExcludeBlocks": [] } }]
}
