{
  "useTabs": false,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "semi": true,
  "plugins": [
    "prettier-plugin-vue"
  ],
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue",
        "vueExcludeBlocks": [],
        "tabWidth": 2
      }
    }
  ]
}
