# PostgreSQL connection information
DATABASE__HOSTNAME=localhost     # Works only for local development
DATABASE__PORT=5432
DATABASE__DB=kelvin
DATABASE__USERNAME=kelvin
DATABASE__PASSWORD=kelvin

# Redis connection information
REDIS__HOSTNAME=localhost        # Works only for local development
REDIS__PORT=6379            

DATABASE__DATA_PATH=./kelvin_data/data
REDIS__DATA_PATH=./kelvin_data/redis
NGINX__LOGS_PATH=./kelvin_data/logs/nginx

NGINX__CERTS_PATH=./certs
NGINX__CONFIG_PATH=./nginx.conf
KELVIN__LOCAL_SETTINGS_PATH=./local_settings.py
