[project]
name = "kelvin"
version = "0.1.0"
description = "Code examination tool"
readme = "README.md"
requires-python = ">=3.12"

dependencies = [
    "beautifulsoup4==4.11.1",
    "bokeh==2.3.2",
    "cssselect==1.1.0",
    "django-cas-ng==4.2.1",
    "django-notifications-hq==1.6.0",
    "django-redis-cache==2.1.1",
    "django-rq==2.3.2",
    "django-webpush==0.3.2",
    "django==3.1.14",
    "imageio==2.6.1",
    "Jinja2==2.11.3",
    "lxml==5.1.0",
    "MarkupSafe==2.0.1",
    "mosspy==1.0.9",
    "networkx==2.5",
    "numpy==1.26.4",
    "oauthlib==3.2.2",
    "pandas==2.2.1",
    "psycopg2==2.9.9",
    "pygraphviz==1.7",
    "pyserde==0.13.1",
    "python-magic==0.4.27",
    "pyyaml==6.0.1",
    "readwise-django-rq-scheduler==1.2.1",
    "redis==3.5.3",
    "requests==2.32.0",
    "requests_oauthlib==1.3.1",
    "rq==1.9.0",
    "rq-scheduler==0.11.0",
    "six==1.16.0",
    "setuptools==69.1.0",
    "typing-extensions==4.11.0",
    "Unidecode==1.3.6",
    "uWSGI==2.0.24",
]

[tool.uv]
dev-dependencies = [
    "ruff==0.6.3"
]
