django==3.0b1                                                                                                                          
pygments                                                                                                                               
markdown2                                                                                                                              
python-ldap
