django==3.1.6
python-ldap==3.2.0
django-rq==2.3.2
six==1.13.0
pyyaml==5.2
mosspy==1.0.8
https://github.com/mingchen/django-cas-ng/archive/master.zip #django-cas-ng==4.0.0
imageio==2.6.1
django-notifications-hq
Unidecode==1.1.1
cssselect
django-webpush==0.3.2
python-magic==0.4.18
channels==2.4.0
channels-redis==2.4.2
django-redis-cache==2.1.1
Jinja2==2.11.3
bokeh==2.2.3
pandas==1.1.4
numpy==1.19.4
pygraphviz==1.7
networkx==2.5
