django==3.1.14
python-ldap==3.4.0
django-rq==2.3.2
readwise-django-rq-scheduler==1.2.1
six==1.16.0
pyyaml==5.4
mosspy==1.0.8
django-cas-ng==4.3.0
imageio==2.6.1
django-notifications-hq
Unidecode==1.1.1
cssselect
django-webpush==0.3.2
python-magic==0.4.27
django-redis-cache==2.1.1
Jinja2==2.11.3
bokeh==2.3.2
pandas==1.5.3
pygraphviz==1.7
networkx==2.5
psycopg2

MarkupSafe==2.1.2
numpy==1.24.1
