{% extends "web/layout.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-4">
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
          {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <p class="text-danger">
              {{ error }}
          </p>
          {% endfor %}
          {% endif %}

          <div id="content-main">

          {% if user.is_authenticated %}
          <p class="errornote">
          {% blocktrans trimmed %}
              You are authenticated as {{ username }}, but are not authorized to
              access this page. Would you like to login to a different account?
          {% endblocktrans %}
          </p>
          {% endif %}

          <form action="{{ app_path }}" method="post">
            {% csrf_token %}
            <div class="form-group row">
              <input type="text" class="form-control" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" placeholder="Login" required>
              <small class="form-text text-danger">
                {{ form.username.errors }}
              </small>
            </div>
            <div class="form-group row">
                <input type="password" class="form-control" name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}" placeholder="Password" required>
                <small class="form-text text-danger">
                  {{ form.password.errors }}
                </small>
              </div>
            </div>

            <input type="hidden" name="next" value="{{ next }}">
            <div class="form-group row">
              <input type="submit" value="{% trans 'Log in' %}" class="form-control btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
