{% extends 'web/layout.html' %}

{% load static %}

{% block content %}
<h1>Exams</h1>

<table class="table">
  {% for exam in exams %}
  <tr>
    <td>
      <a href="/exams/take/#{{ exam.id }}">
        {{ exam.subject }} {{ exam.begin | date:"d.m.Y G:i" }}
      </a>
    </td>

    {% if is_teacher %}
    <td>
      {% if exam.students|length > 10 %}
        <span class="text-muted">{{ exam.students|length }} students</span>
      {% else %}
        {% for student in exam.students %}
          {{ student }}<br>
        {% endfor %}
      {% endif %}
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
