{% extends 'web/layout.html' %}

{% load static %}

{% block content %}
<h1>Exams</h1>

<table class="table">
  {% for exam in exams %}
  <tr>
    <td>
      <a href="/exams/take/#{{ exam.id }}"{%if exam.is_finished %} class="text-muted"{% endif%}>
        {{ exam.subject }} {{ exam.begin | date:"d.m.Y G:i" }}
      </a>
    </td>

    {% if is_teacher %}
    <td>
      {% if exam.student_objs|length > 10 %}
        <span class="text-muted">{{ exam.student_objs|length }} students</span>
      {% else %}
        {% for login, student in exam.student_objs %}
        <strong>{{ login }}</strong> 
        {% if student %}
          {{ student.last_name }} {{ student.first_name }}<br>
        {% else %}
          <span class="text-danger">NOT FOUND</span>
        {% endif %}
        {% endfor %}
      {% endif %}
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
