{% extends 'web/layout.html' %}

{% block content %}

<form method='post' id="edit_task">
  {% csrf_token %}
	<div class="input-group mb-1">
    <input class="form-control" name="dir" value="{{ task.code }}" required onkeyup="this.dataset.modified = true" placeholder="Task directory">
    <input type="number" min="1" class="form-control" style="max-width: 120px" name="max_points" value="{{ max_points }}" placeholder="Max points">
    {% if task.id %}
    <div class="input-group-append">
      <span class="input-group-text">
        <a href="{% url 'teacher_task' task.id %}" target="_blank"><i class="fa fa-eye"></i></a>
      </span>
    </div>
    {% endif %}
	</div>

	<div class="form-group">
    <textarea class="form-control" name="text" rows="10" required onkeyup="updateTaskTitle()">{{ markdown }}</textarea>
	</div>

	<div class="form-group">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Lecture</th>
          <th>Assigned</th>
          <th>Deadline</th>
        </tr>
      </thead>
    {% for class in classes %}
      <tr data-class="{{ class.class.timeslot }}"{% if class.assigned %} class="table-success"{% endif %}>
        <input type="hidden" name="class" value="{{ class.class.id }}">
        <!--          <input type="checkbox" name="class_assign" value="{{ class.class.id }}"{% if class.assigned %} checked{% endif %} /> -->
        <td>
          {{ class.class.day }} {{ class.class.time.hour|stringformat:"02d" }}:{{ class.class.time.minute|stringformat:"02d" }}
        </td>
        <td>
          <input type="date" class="form-control" name="assign_date" value="{{ class.assigned.assigned|date:'Y-m-d' }}">
          <input type="time" class="form-control" name="assign_time" value="{{ class.assigned.assigned|date:'H:i' }}" onchange="updateTaskTitle()">
        </td>
        <td>
          <input type="date" class="form-control" name="deadline_date" value="{{ class.assigned.deadline|date:'Y-m-d' }}">
          <input type="time" class="form-control" name="deadline_time" value="{{ class.assigned.deadline|date:'H:i' }}">
        </td>
        <td style="width: 1%">
          <button style="border: 0; background: none" class="edit_task_rm">&times;</button>
        </td>
    {% endfor %}
    </table>
	</div>

  <button class="btn btn-primary">Save</button>
</form>

<script>
  document.querySelectorAll('.edit_task_rm').forEach(el => {
    el.addEventListener('click', (evt) => {
      el.closest('tr').querySelectorAll('input[type=date], input[type=time]').forEach(inp => inp.value = '');
      el.closest('tr').classList.remove('table-success');
      evt.preventDefault();
    });
  });

  function updateTaskTitle() {
    {% if task.id %}
    return;
    {% endif %}
    let parts = [];

    let classes = Array.from(document.querySelectorAll('#edit_task [name=assign_time]')).filter(el => el.value);
    if(classes.length == 1) {
      parts.push(classes[0].closest('tr').dataset.class);
    }

    const lines = document.querySelector('#edit_task textarea').value.split('\n');

    if(lines) {
      const title = lines[0]
        .toLowerCase()
        .replace(/^\s*#\s*|\s*$/g, '')
        .replace(/( |\/|\\)/g, '_')
        .split('')
        .map(c => {
            const map = {
              'ě': 'e',
              'š': 's',
              'č': 'c',
              'ř': 'r',
              'ž': 'z',
              'ý': 'y',
              'á': 'a',
              'í': 'i',
              'é': 'e',
              'ú': 'u',
              'ů': 'u',
              'ǒ': 'o',
              'ó': 'p',
            };
            return map[c] ? map[c] : c;
        })
        .join('') 
        parts.push(title);
    }


    const el = document.querySelector('#edit_task [name=dir]');
    if(!el.dataset.modified) {
      el.value = [
          ...el.value.split('/').slice(0, 3),
          ...parts
      ].join('/');
    }
  }
  updateTaskTitle();
</script>

{% endblock %}
