{% extends 'web/layout.html' %}
{% load markdown %}

{% block content %}

{% for node in classess %}
<div class="card mb-2">
    <div class="card-header"><h5 class="mb-0">{{ node.class }}</h5></div>
    <div class="card-body"> 
        {% if node.class.summary %}
        <kelvin-markdown hidden>{{ node.class.summary | safe }}</kelvin-markdown>
        {% endif %}
        {% if node.tasks %}
        <table class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Assigned</th>
                    <th>Deadline</th>
                    <th class="text-right">Earned points</th>
                    <th class="text-right">Max points</th>
                </tr>
            </thead>
            {% for task in node.tasks  %}
            <tr>
                <td>
                  {% if task.accepted_submit_num %}
                    <a href="{% url 'task_detail' task.student.username task.id task.accepted_submit_num %}">{{ task.name }}</a>
                  {% else %}
                    <a href="{% url 'task_detail' task.id %}">{{ task.name }}</a>
                  {% endif %}
                </td>
                {% comment %}
                TODO: Add remaining time to deadline by creating simple tag:
                https://stackoverflow.com/questions/52296306/django-template-is-there-a-built-in-way-to-get-current-date-as-type-date-ins
                https://docs.djangoproject.com/en/1.11/howto/custom-template-tags/#django.template.Library.simple_tag
                {% endcomment %}
                <td>
                    {{ task.assigned|date:"d.m.Y, H:i" }}
                    {% if task.assigned_show_remaining %} (<span class="text-muted">{{ task.assigned|timeuntil }} left)</span>{% endif %}
                </td>
                <td>
                    {% if task.deadline %}
                    {{ task.deadline|date:"d.m.Y, H:i" }} <span class="text-muted">({{ task.deadline|timeuntil }} left)</span>
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if task.assigned_points is not None %}
                      {{ task.assigned_points|floatformat:2 }}
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if task.assignment.max_points is not None %}
                      {{ task.assignment.max_points|floatformat:2 }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p class="alert alert-info mb-0">No task assigned.</p>
        {% endif %}
    </div>
</div>
{% endfor %}

{% comment %}
<div class="card">
    <div class="card-header"><h5>Submit script installation</h5></div>
    <div class="card-body">
        Installation from terminal:

        <pre>
$ wget -q {{request.scheme}}://{{request.META.HTTP_HOST}}{% url 'install.sh' token %} -O - | bash && bash
        </pre>
    </div>
</div>
{% endcomment %}

{% endblock %}
