{% extends 'web/layout.html' %}

{% block content %}

{% comment %}
<ul>
  <li><a href="{% url 'project' 'normal' %}">Zadání projektu</a></li>
  <li><a href="{% url 'project' 'bonus' %}">Zadání SDL projektu</a></li>
</ul>
{% endcomment %}


{% for node in classess %}
<div class="card mb-2">
    <div class="card-header"><h5>{{ node.class }}</h5></div>
    <div class="card-body"> 
        <table class="table table-bordered table-sm table-hover">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Deadline</th>
                    <th>Points</th>
                </tr>
            </thead>
            {% for task in node.tasks  %}
            <tr>
                <td><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></td>
                {% comment %}
                TODO: Add remaining time to deadline by creating simple tag:
                https://stackoverflow.com/questions/52296306/django-template-is-there-a-built-in-way-to-get-current-date-as-type-date-ins
                https://docs.djangoproject.com/en/1.11/howto/custom-template-tags/#django.template.Library.simple_tag
                {% endcomment %}
                <td>
                    {% if task.deadline %}
                    {{ task.deadline|date:"G:i, d.m.Y" }}, Time remaining: {{ task.deadline|timeuntil:task.tznow }}
                    {% endif %}
                </td>
                <td>
                    {% if task.assigned_points is not None %}
                      {{ task.assigned_points }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endfor %}

{% comment %}
<div class="card">
    <div class="card-header"><h5>Submit script installation</h5></div>
    <div class="card-body">
        Installation from terminal:

        <pre>
$ wget -q {{request.scheme}}://{{request.META.HTTP_HOST}}{% url 'install.sh' token %} -O - | bash && bash
        </pre>
    </div>
</div>
{% endcomment %}

{% endblock %}
