<!doctype html>
<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script src="https://cdn.jsdelivr.net/npm/asciinema-player@2.6.1/resources/public/js/asciinema-player.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/asciinema-player@2.6.1/resources/public/css/asciinema-player.css">
        <meta name="csrf-token" content="{{ csrf_token }}">
        {% load static %}
        <meta name="django-webpush-vapid-key" content="{{ vapid_public_key }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
        <script src="{% static 'frontend.js' %}"></script>
        <link rel="stylesheet" href="{% static 'frontend.css' %}">

    </head>
    <body>
        <nav class="navbar navbar-light bg-light navbar-expand-sm mb-2">
            <a class="navbar-brand" href="/">Kelvin</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                {% if is_teacher %}
                <li class="nav-item"><a class="nav-link" href="/old">old UI</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'submits' %}">Submits</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'tasks' %}">Tasks</a></li>
                {% endif %}
                {% if is_teacher and user.is_superuser %}
                {% comment %}
                https://stackoverflow.com/questions/694477/getting-django-admin-url-for-an-objects
                {% endcomment %}
                <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="/exams/">Exams</a></li>
              </ul>
              {% if user.is_authenticated %}
              <div class="my-2 my-lg-0">
                  {{ user.get_full_name }} ({{ user.username }})
                  <span id="notifications">
                    <notifications />
                  </span>
                  <a href="/accounts/logout/?next=/">Logout</a>
              </div>
              {% endif %}
            </div>
        </nav>

        <div class="content container">
            {% block content %}{% endblock %}
        </div>

        <script>
            $(document).ready(function() {
                let hash = document.location.hash.replace('#', '').split('-')[0];

                $(".nav-tabs a[href='#tab_" + hash + "']").tab('show');

                $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
                    let parts = e.target.href.split('#')
                    if(parts.length > 1) {
                        document.location.hash = parts[1].replace('tab_', '')
                    }
                });
            })
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
        <script src="https://unpkg.com/vue-timeago@5.1.2/dist/vue-timeago.js"></script>
        <script src="{% static 'comments.vue' %}"></script>
        <script src="{% static 'notifications.vue' %}"></script>
        <script src="{% static 'global.js' %}"></script>
    </body>
</html>
