<!doctype html>
<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pygments-css@1.0.0/github.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/4.0.1/diff.min.js"></script>
        <style>
            .highlighttable a {color: gray;}
            .highlighttable a:hover {text-decoration: none;}
            .linenodiv {padding-right: 5px; user-select: none;}
        </style>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light mb-2">
            <a class="navbar-brand" href="/">Kelvin</a>

            <div>
                {{ user.get_full_name }} ({{ user.username }}) <a href="/accounts/logout/?next=/">Logout</a>
            </div>
        </nav>

        <div class="content container">
            {% block content %}{% endblock %}
        </div>

        <script>
            $(document).ready(function() {
                let hash = document.location.hash.replace('#', '').split('-')[0];

                $(".nav-tabs a[href='#tab_" + hash + "']").tab('show');

                $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
                    let parts = e.target.href.split('#')
                    if(parts.length > 1) {
                        document.location.hash = parts[1].replace('tab_', '')
                    }
                });
            })
        </script>
    </body>
</html>
