{% if submit %}

{% for result in results %}
  {% if result.html or result.tests %}
  <h5{% if result.failed %} class="text-danger"{% endif %}>
      {{ result.title }}
      {% if result.failed %} 
        - FAILED
      {% endif %}
    </h5>
    {% if result.html %}
    {{ result.html | safe }}
    {% endif %}


    {% if result.tests %}
    <input type="checkbox" id="checkbox-only-errors" checked> <label for="checkbox-only-errors">show only failed tests</label>
    {% endif %}

    {% for test in result.tests %}
    <div class="card mb-3 test-result {% if test.success%}border-success test-result-success{%else%}border-danger test-result-fail{%endif%}"{% if test.success%} hidden{% endif %}>
        <div class="card-header {% if test.success%}bg-success{%else%}bg-danger{%endif%}">
            <h5>
                {% if test.title %}{{ test.title }}{% else %} {{ test.name }} {% endif %}
                <div class="float-right">
                    {{ test.time }}s, {{ test.maxrss|filesizeformat }}
                </div>
            </h5>
            
        </div>
        <div class="card-body">
{% if test.errors %}
<ul class="text-danger">
  {% for error in test.errors %}
  <li>{{ error|safe }}</li>
  {% endfor %}
</ul>
<pre style="color: #444; font-weight: bold">
$ {{ test.command }}{% if test.message %}
{{ test.message }}{%endif%}
</pre>
{% endif %}

            {% for path, v in test.files.items %}
            {% if v.diff and v.diff.size < max_inline_content_bytes or not max_inline_content_bytes %}
              <div class="diff"
                data-expected-url="{% url 'raw_result_content' submit.id test.name 'expected' path %}"
                data-actual-url="{% url 'raw_result_content' submit.id test.name 'actual' path %}"
                data-path="{{path}}"
                >
              {{ v.diff.read }}
              </div>
            {% else %}
              <div class="d2h-wrapper">
                <div class="d2h-file-wrapper">
                  <div class="d2h-file-header">
                    <span class="d2h-file-name-wrapper">
                      {% if not v.expected %}
                      <span class="d2h-file-name">
                        <a href="{% url 'raw_result_content' submit.id test.name 'actual' path %}">{{ path }}</a>
                      </span>
                      {% else %}
                      <span class="d2h-file-name">
                        {{ path }}
                      </span>

                      <span style='margin-left: auto'>
                        <a href="{% url 'raw_result_content' submit.id test.name 'actual' path %}">your output</a>
                        &#8594;
                        <a href="{% url 'raw_result_content' submit.id test.name 'expected' path %}">expected output</a>
                      </span>
                      {% endif %}
                  </div>
                  <div class="d2h-file-diff">
                    <div class="d2h-code-wrapper">
                      {% if 'html' in v %}
                      {% if v.html.size < max_inline_content_bytes or not max_inline_content_bytes %}
                      <div class="result">{{ v.html.read | safe }}</div>
                      {% else %}
                        <div class="result">
                        Content too large, show <a href='{% url 'raw_result_content' submit.id test.name 'html' path %}'>raw content</a>.
                        </div>
                      {% endif %}
                      {% endif %}

                      {% if not v.actual %}
                      <div class="result"></div>
                      {% elif v.actual.size < max_inline_content_bytes or not max_inline_content_bytes %}
                      <pre class="result"{% if 'html' in v %} {% endif %}>{{ v.actual.read }}</pre>
                      {% else %}
                      <div class="result"{% if 'html' in v %} {% endif %}>
                        Content too large, download <a href='{% url 'raw_result_content' submit.id test.name 'actual' path %}'>raw content</a>.
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
  {% endif %}
{% endfor %}

{% endif %}

<script>
var el = document.getElementById('checkbox-only-errors');
if(el) {
  el.addEventListener('change', function() {
    if(this.checked) {
        document.querySelectorAll('.test-result-success').forEach(elem => elem.setAttribute('hidden', true))
    } else {
        document.querySelectorAll('.test-result').forEach(elem => elem.removeAttribute('hidden'))
    }
  });

  document.querySelectorAll('.card-test label').forEach(function(el) {
    el.addEventListener('click', function(ev) {
        let el = ev.target;
        var nth = 0;
        while(el = el.previousElementSibling) {
            nth++;
        }

        ev.target.closest('.card').querySelectorAll('.result').forEach(function(el, i) {
           el.hidden = i != nth;
        });
    });
  });
}
</script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.diff').forEach((el) => {
      const entities = {
        "nbsp":" ",
        "amp" : "&",
        "quot": "\"",
        "lt"  : "<",
        "gt"  : ">"
      };

      const diffHtml = Diff2Html.html(el.innerHTML.replace(/&([^;]+);/gm, (m, entity) => entities[entity] || m).trim(), {
            drawFileList: true,
            matching: 'lines',
            outputFormat: 'side-by-side',
            drawFileList: false,
            rawTemplates: {
              "generic-file-path": `
                <span class="d2h-file-name-wrapper">
                  <span class="d2h-file-name">${el.getAttribute('data-path')}</span>
                  <span style='margin-left: auto'>
                    <a href="${el.getAttribute('data-actual-url')}">your output</a>   &#8594;
                    <a href="${el.getAttribute('data-expected-url')}">expected output</a>
                  </span>
                </span>
              `,
            }
      });
      el.innerHTML = diffHtml;
    });
});
</script>
