{% if submit %}
<input type="checkbox" id="checkbox-only-errors" checked> <label for="checkbox-only-errors">show only errors</label>

{% for result in results %}
    <h5>{{ result.name }}</h5>
    <div class="card-body">
        <code>$ {{ result.gcc.command }}</code>
        <pre>{{ result.gcc.stderr }}</pre>
    </div>

    {% if result.gcc.exit_code == 0 %}
    {% for test in result.tests %}
    <div class="card mb-3 mx-3 test-result {% if test.success%}border-success test-result-success{%else%}border-danger test-result-fail{%endif%}"{% if test.success%} hidden{% endif %}>
        <div class="card-header {% if test.success%}bg-success{%else%}bg-danger{%endif%}">
            <h5>
                {{ test.title }}
                <div class="float-right">
                    {{ test.time }}s, {{ test.maxrss|filesizeformat }}
                </div>
            </h5>
            
        </div>
        <div class="card-body">
<pre style="color: #e83e8c">
$ {{ test.command }}{% if test.message %}
{{ test.message }}{%endif%}
$ echo $?  # exit code (return value from main)
{{ test.exit_code }}
</pre>

            {% if test.stdin %}
            <div class="card mb-3">
                <div class="card-header">
                    stdin
                </div>
                <div class="card-body">
                    <pre>{{ test.stdin.read }}</pre>
                </div>
            </div>
            {% endif %}

            {% if test.stdout or test.stdout_expected %}
            <div class="card mb-3">
                <div class="card-header">
                    stdout
                </div>
                <div class="card-body diff">
                    <pre class="actual">{{ test.stdout.read }}</pre>
                    <pre class="expected">{{ test.stdout_expected.read }}</pre>
                </div>
            </div>
            {% endif %}

            {% if test.stderr or test.stderr_expected %}
            <div class="card mb-3">
                <div class="card-header">
                    stderr
                </div>
                <div class="card-body diff">
                    <pre class="actual">{{ test.stderr.read }}</pre>
                    <pre class="expected">{{ test.stderr_expected.read }}</pre>
                </div>
            </div>
            {% endif %}

            {% for file in test.files %}
            <div class="card mb-3">
                <div class="card-header">
                    {{ file.path }}
                </div>
                <div class="card-body diff">
                    <pre class="actual">{{ file.content }}</pre>
                    <pre class="expected">{{ file.expected }}</pre>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
{% endfor %}

{% endif %}

<script>
var el = document.getElementById('checkbox-only-errors');
if(el) {
  el.addEventListener('change', function() {
    if(this.checked) {
        document.querySelectorAll('.test-result-success').forEach(elem => elem.setAttribute('hidden', true))
    } else {
        document.querySelectorAll('.test-result').forEach(elem => elem.removeAttribute('hidden'))
    }
  });
}

document.querySelectorAll('.diff').forEach(function(elem) {
    let actual = elem.querySelector('.actual').textContent;
    let expected = elem.querySelector('.expected').textContent;

    const limit_bytes = 1 * 1024;
    if(actual.length > limit_bytes || expected.length > limit_bytes) {
        return;
    }

    let fragment = document.createDocumentFragment();

    Diff.diffLines(actual, expected).forEach(function(part) {
        let color = part.added ? 'green' : part.removed ? 'red' : 'black';
        let span = document.createElement('pre');
        span.style.display = 'inline'
        span.style.color = color;
        if(part.removed) {
          span.style.textDecoration = 'line-through';
        }
        span.appendChild(document.createTextNode(part.value));
        fragment.appendChild(span);
    });

    elem.querySelector('.actual').style.display = 'none';
    elem.querySelector('.expected').style.display = 'none';
    elem.appendChild(fragment);
});
</script>
