{% if submit %}
<input type="checkbox" id="checkbox-only-errors" checked> <label for="checkbox-only-errors">show only errors</label>

{% for result in results %}
    <h5>{{ result.title }}</h5>
    <div class="card-body">
        {{ result.html | safe }}
    </div>

    {% for test in result.tests %}
    <div class="card mb-3 mx-3 test-result {% if test.success%}border-success test-result-success{%else%}border-danger test-result-fail{%endif%}"{% if test.success%} hidden{% endif %}>
        <div class="card-header {% if test.success%}bg-success{%else%}bg-danger{%endif%}">
            <h5>
                {% if test.title %}{{ test.title }}{% else %} {{ test.name }} {% endif %}
                <div class="float-right">
                    {{ test.time }}s, {{ test.maxrss|filesizeformat }}
                </div>
            </h5>
            
        </div>
        <div class="card-body">
<pre style="color: #e83e8c">
$ {{ test.command }}{% if test.message %}
{{ test.message }}{%endif%}
</pre>
{% if test.errors %}
<ul class="text-danger">
  {% for error in test.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}

            {% for path, v in test.files.items %}
            <div class="card mb-3 card-test">
                <div class="card-header">
                    {{ path }}
                    {% if v.actual.input %}
                      (<a href="{% url 'raw_result_content' submit.id test.name 'actual' path %}">Raw content</a>)
                    {% elif 'expected' in v %}
                    <div class="btn-group btn-group-toggle btn-group-sm float-right" data-toggle="buttons">
                      {% if 'html' in v %}
                      <label class="btn btn-outline-secondary active">
                        <input type="radio" autocomplete="off"> Result
                      </label>
                      {% endif %}
                      <label class="btn btn-outline-secondary{% if 'html' not in v %} active{% endif %}">
                        <input type="radio" autocomplete="off"> Your output
                      </label>
                      <label class="btn btn-outline-secondary">
                        <input type="radio" autocomplete="off"> Expected output
                      </label>
                    </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    {% if 'html' in v %}
                    {% if v.html.size < max_inline_content_bytes or not max_inline_content_bytes %}
                    <div class="result">{{ v.html.read | safe }}</div>
                    {% else %}
                      <div class="result">
                      Content too large, show <a href='{% url 'raw_result_content' submit.id test.name 'html' path %}'>raw content</a>.
                      </div>
                    {% endif %}
                    {% endif %}

                    {% if not v.actual %}
                    <div class="result"></div>
                    {% elif v.actual.size < max_inline_content_bytes or not max_inline_content_bytes %}
                    <pre class="result"{% if 'html' in v %} hidden{% endif %}>{{ v.actual.read }}</pre>
                    {% else %}
                    <div class="result"{% if 'html' in v %} hidden{% endif %}>
                      Content too large, download <a href='{% url 'raw_result_content' submit.id test.name 'actual' path %}'>raw content</a>.
                    </div>
                    {% endif %}

                    {% if not v.expected %}
                    <div class="result"></div>
                    {% elif v.expected.size < max_inline_content_bytes or not max_inline_content_bytes %}
                    <pre class="result" hidden>{{ v.expected.read }}</pre>
                    {% else %}
                    <div class="result" hidden>
                      Content too large, download <a href='{% url 'raw_result_content' submit.id test.name 'expected' path %}'>raw content</a>.
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endfor %}

{% endif %}

<script>
var el = document.getElementById('checkbox-only-errors');
if(el) {
  el.addEventListener('change', function() {
    if(this.checked) {
        document.querySelectorAll('.test-result-success').forEach(elem => elem.setAttribute('hidden', true))
    } else {
        document.querySelectorAll('.test-result').forEach(elem => elem.removeAttribute('hidden'))
    }
  });

  document.querySelectorAll('.card-test label').forEach(function(el) {
    el.addEventListener('click', function(ev) {
        let el = ev.target;
        var nth = 0;
        while(el = el.previousElementSibling) {
            nth++;
        }

        ev.target.closest('.card').querySelectorAll('.result').forEach(function(el, i) {
           el.hidden = i != nth;
        });
    });
  });
}
</script>
