{% extends 'web/layout.html' %}

{% block content %}
<h1 class="h3">
  {% if student_username %}
      {{ student_full_name }} ({{ student_username }})'s submits
  {% else %}
  Latest submits
  {% endif %}
</h1>
<table class="table table-striped table-hover table-sm">
    <thead>
        <th>Submit ID</th>
        <th>Task Name</th>
        <th>Student</th>
        <th>Time from Submit</th>
        <th>IP Address</th>
        <th>Reevaluate</th>
    </thead>
    {% for submit in submits %}
    <tr>
        <td><a href="{% url 'task_detail' login=submit.student.username assignment_id=submit.assignment.id submit_num=submit.submit_num %}">{{ submit.id }}</a></td>
        <td><a href="{% url 'teacher_task' submit.assignment.task.id %}">{{ submit.assignment.task.name }}</a></td>
        <td><a href="{% url 'submits' submit.student.username %}">{{ submit.student.username }} - {{ submit.student.get_full_name }}</a></td>
        <td title="{{ submit.created_at }}">{{ submit.created_at | timesince }}</td>
        <td>{{ submit.ip_address|default_if_none:"-" }}</td>
        <td><a href="{% url 'reevaluate' submit.id %}">reevaluate</a></td>
    </tr>

    {% endfor %}
</table>

{% endblock %}
