{% extends 'web/layout.html' %}

{% block content %}

<div class="btn btn-primary" onclick="toggleAll()" style="margin-bottom: 10px;">Toggle</div>
{% for submit, points in students %}
<div class="card mb-1">
  {% if submit %}
    <div class="card-header p-0">
        <button data-toggle="collapse" data-target="#submit-{{ submit.assignment.id }}-{{submit.student}}" class="btn">
          {{ submit.student}} - {{ submit.student.get_full_name }}
        </button>
        <a href="{% url 'task_detail' login=submit.student.username assignment_id=submit.assignment.id submit_num=submit.submit_num %}#result" text-muted">
          <span class="iconify" data-icon="fa-solid:external-link-alt"></span>
          {%if points.total_tests%}
            {{points.passed_tests}} / {{points.total_tests}}
          {% endif %}
        </a>
        {% include 'web/teacher/form_assign_points.html' %}
    </div>
    <div id="submit-{{ submit.assignment.id }}-{{submit.student}}" class="collapse">
      <div class="card-body">
        <div class="comments"><kelvin-submit-sources url="{% url 'submit_comments' submit.assignment.id submit.student submit.submit_num %}"></kelvin-submit-sources></div>
      </div>
    </div>
  {% else %}
    <div class="card-header p-0">
      <button class="btn">
        {{ points.student}} - {{ points.student.get_full_name }}
      </button>
    </div>
  {% endif %}
</div>
{% endfor %}

<script>
  document.querySelectorAll("button[data-toggle]").forEach(el => {
      el.addEventListener("click", event => toggleButton(document.querySelector(event.target.dataset.target)));
  });
  function toggleButton(element) {
      element.classList.toggle("collapse");
  }
  function toggleAll() {
    for (const element of document.querySelectorAll("[id^='submit']")) {
        toggleButton(element);
    }
  }
</script>
{% endblock %}
