{% extends 'web/layout.html' %}

{% block content %}
<table class="table">
    <thead>
        <th>Submit ID</th>
        <th>Task Name</th>
        <th>Student</th>
        <th>Result</th>
        <th>Time from Submit</th>
        <th>Reevaluate</th>
    </thead>
    {% for submit in submits %}
    <tr>
        <td><a href="{% url 'task_detail' submit.student.username submit.assignment.id submit.submit_num %}">{{ submit.id }}</a></td>
        <td><a href="{% url  'teacher_task' submit.assignment.task.id %}">{{ submit.assignment.task.name }}</a></td>
        <td>{{ submit.student.username }}</td>
        <td>{{ submit.points }} / {{ submit.max_points }}</td>
        <td title="{{ submit.created_at }}">{{ submit.created_at | timesince }}</td>
        <td><a href="{% url 'reevaluate' submit.id %}">reevaluate</a></td>
    </tr>

    {% endfor %}
</table>

{% endblock %}