{% extends 'web/layout.html' %}
{% load markdown %}

{% load static %}

{% block content %}

{% comment %}
TODO: Make it nicer with Bootstrap
{% endcomment %}

{% load admin_urls %}

<h2>
    {{ task.name }}
    {% if is_teacher %}
    <a href="/#/task/edit/{{task.id}}" class="text-muted" title="Edit task"><span class="iconify" data-icon="fa-solid:pen"></span></a>
    {% endif %}
</h2>
{% if assigned %}
<h6>Assigned: {{ assigned|date:"d.m.Y, G:i" }}, Time remaining: {{ assigned|timeuntil }}</h6>
{% endif %}
{% if deadline %}
<h6>Deadline: {{ deadline|date:"d.m.Y, G:i" }}, Time remaining: {{ deadline|timeuntil }}</h6>
{% endif %}

{% if submit %}
    <h6>
    Submit 
    {% if prev_submit %}
        <a href="{% url 'task_detail' submit.student.username submit.assignment.id prev_submit %}#src" title="Previous submit"><span class="iconify" data-icon="fa-solid:chevron-left"></span></a>
    {% else %}
      <span class="iconify" data-icon="fa-solid:chevron-left"></span>
    {% endif %}

    {{ submit.submit_num }} / 
    {% if late_submit %}
    <strong class="text-danger">{{ total_submits }}</strong>
    {% else %}
    {{ total_submits }}
    {% endif %}

    {% if next_submit %}
        <a href="{% url 'task_detail' submit.student.username submit.assignment.id next_submit %}#src" title="Next submit"><span class="iconify" data-icon="fa-solid:chevron-right"></span></a>
    {% else %}
      <span class="iconify" data-icon="fa-solid:chevron-right"></span>
    {% endif %}
    -
    {{ submit.student.get_full_name }} ({{ submit.student.username }}),

    {% if submit.created_at > submit.assignment.deadline %}
    <span class="text-danger font-weight-bold" title="{{ stud.last_submit_date|date:'d.m.Y H:i' }}">
        {{ submit.created_at|timeuntil:submit.assignment.deadline }} after deadline
    </span>
    {% else %}
        {{ submit.created_at|date:'d.m.Y H:i' }}
    {% endif %}
    </h6>
    <div>

    {% if is_teacher %}
    <a href="{% url 'submits' submit.student.username %}">Student submits</a>
    <a href="{% url 'reevaluate' submit.id %}" title="Reevaluate"><span class="iconify" data-icon="fa-solid:sync"></span></a>
    {% endif %}
{% endif %}
{% if upload != False %}
<div class="text-right" style="font-size: 0.8rem">Select multiple files using CTRL or SHIFT</div>
{% endif %}

{% if is_teacher and inputs.warnings %}
<ul class="text-danger">
  {% for warning in inputs.warnings %}
    <li>{{ warning | linebreaks }}</li>
  {% endfor %}
</ul>
{% endif %}

<div class="card mb-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs navbar-expand-lg">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab_assignment">Assignment</a>
            </li>
            {% if inputs.tests_dict %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_tests">Tests</a>
            </li>
            {% endif %}
            {% if submit %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_src">
                  Source code
                  {% if comment_count and comment_count > 0 %}
                    <span class="badge badge-dark">{{ comment_count }}</span>
                  {% endif %}
                </a>
            </li>
            {% if results.pipelines or job_status %}
            <li class="nav-item">
                <a class="nav-link{%if job_status %} text-danger{% endif %}" data-toggle="tab" href="#tab_result">
                    Result #{{ submit.submit_num }} 
                    {{ job_status }}
                </a>
              <!--
                <a class="nav-link text-{% if submit.points and submit.points == submit.max_points %}success{%else%}danger{%endif%}" data-toggle="tab" href="#tab_result">
                    Result #{{ submit.submit_num }} 
                    {%if submit.max_points is not None %}({{ submit.points }} / {{ submit.max_points }}){%else%}{{ job_status }}{%endif%}
                </a>
              -->
            </li>
            {% endif %}

            {% endif %}

            {% if is_teacher and not upload%}
              {% if submit and submit.assignment.max_points is not None %}
                <li class="nav-item ml-auto">
                  {% include 'web/teacher/form_assign_points.html' %}
                <li>
              {% endif %}
            {% else %}
            <li class="nav-item ml-auto">
                <ul class="navbar-nav">
                    {% if submit and submit.assigned_points is not None %}
                    <li class="nav-item mr-2 pt-1">
                        {{ submit.assigned_points }} / {{ submit.assignment.max_points }}
                    </li>
                    {% endif %}
                    {% if upload != False %}
                    <li class="nav-item">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="{{ upload_form.solution.html_name }}" multiple hidden id="upload-choose"
                                   onclick="this.value=null;"
                                   onchange="this.form.submit()">
                            <span class="btn btn-sm btn-primary" onclick="$('#upload-choose').click()">Upload</span>
                        </form>
                        <kelvin-upload-solution></kelvin-upload-solution>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_assignment">
                {{ text|safe }}
                {% if inputs.required_files %}
                <h2>Required files</h2>
                <ul>
                {% for file in inputs.required_files %}
                  <li>{{ file }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="tab_tests">
                <a href="{% url 'tar_test_data' task.code %}" class="float-right">Download all tests</a>

                {% for input in inputs %}
                <h2>{{ input.title }}{% if input.title != input.name %} <span class="text-muted">({{ input.name }})</span>{% endif %}</h2>
                {{ input.assignment | markdown:task.code | safe }}

                <code style="display: block">$ ./main {{ input.escaped_args }}</code>
                {% if input.exit_code != 0 %}
                <div class="text-muted">exit code: {{ input.exit_code }}</div>
                {% endif %}

                {% for path, file in input.sorted_files %}
                <div class="card mb-3">
                    <div class="card-header">
                        <h5>
                          {{ path }}
                          (<a href="{% url 'raw_test_content' task.code input.name path %}">Raw content</a>)
                        </h5>
                    </div>
                    <div class="card-body">
                        {% if file.size < max_inline_content_bytes or not max_inline_content_bytes %}
                        <pre>{{ file.read }}</pre>
                        {% else %}
                            Content too large, show <a href='{% url 'raw_test_content' task.code input.name path %}'>raw content</a>.
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                {% endfor %}
            </div>

            {% if submit %}
            <div class="tab-pane" id="tab_src">
                <div class="float-right">
                  <a href="#diff" data-toggle="collapse" title="Diff vs previous version(s)"><span class="iconify" data-icon="fa-solid:history"></span></a>
                  <a href="{% url 'submit_download' submit.assignment.id submit.student.username submit.submit_num %}" title="Download"><span class="iconify" data-icon="fa-solid:download"></span></a>
                </div>

                <div id="diff" class="collapse">
                {% for ver, submitted in diff_versions %}
                  <div>
                    <input type="radio" name="a"{% if ver == total_submits|add:"-1" %} checked{% endif %} value="{{ ver }}">
                    <input type="radio" name="b"{% if ver == total_submits %} checked{% endif %} value="{{ ver }}"> #{{ ver }}

                    {% if submitted > submit.assignment.deadline %}
                    <span class="text-danger font-weight-bold">
                        {{ submitted|timeuntil:submit.assignment.deadline }} after deadline
                    </span>
                    {% else %}
                        {{ submitted|date:'d.m.Y H:i' }}
                    {% endif %}

                  </div>
                {% endfor %}
                <div id="diff-content"></div>
                </div>

              <div class="comments"><kelvin-submit-sources url="{% url 'submit_comments' submit.assignment.id submit.student submit.submit_num %}"></kelvin-submit-sources></div>
            </div>

            <div class="tab-pane" id="tab_result">
                {% include "web/report.html" %}
            </div>
            {% endif %}
        </div>
    </div>
</div>   


{% comment %}
<div class="card mb-3 mt-2">
    <div class="card-header">
        <h5>Submit</h5>
    </div>
    <div class="card-body">
        <code>
            $ upr submit {{ task.code }} my_file.c
        </code>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ upload_form.solution }}
            <input type="submit" class="btn btn-primary" value="Upload">
        </form>
    </div>
</div>
{% endcomment %}

<script>
(function() {
  let container = document.getElementById('diff');
  if(!container) {
    return;
  }
  var prev_a, prev_b;

  function load_diff() {
      let a = container.querySelector('input[name=a]:checked').value;
      let b = container.querySelector('input[name=b]:checked').value;

      if (a == prev_a && b == prev_b) {
          return;
      }
      prev_a = a;
      prev_b = b;

      fetch(`/task/{{ submit.student.username }}/{{ submit.assignment.id }}/${a}-${b}.diff`)
          .then((result) => result.text())
          .then((diff) => {
              let diffHtml = Diff2Html.html(diff, {
                  drawFileList: true,
                  matching: 'lines',
                  outputFormat: 'side-by-side',
                  drawFileList: false
              });
              document.getElementById('diff-content').innerHTML = diffHtml;
          });
  }

  document.getElementById("diff").addEventListener("click", load_diff);
  document.querySelector('a[href="#diff"]').addEventListener('click', load_diff);

})();

</script>

{% endblock %}
