{% extends 'web/layout.html' %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <h5>{{ task.name }}</h5>
    </div>
    <div class="card-body">
        {{ text|safe }}
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h5>Program test cases</h5>
    </div>
    <div class="card-body">
        {% for input in inputs %}
        <div class="card mb-3">
            <div class="card-header">
                <h5>{{ input.name }}</h5>
            </div>
            <div class="card-body">
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h5>stdin</h5>
                    </div>
                    <div class="card-body">
                        <pre>{{ input.stdin }}</pre>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h5>stdout</h5>
                    </div>
                    <div class="card-body">
                        <pre>{{ input.stdout }}</pre>
                    </div>
                </div>                
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
    


<div class="card mb-3">
    <div class="card-header">
        <h5>Submit</h5>
    </div>
    <div class="card-body">
        <code>
            $ upr submit {{ task.code }} my_file.c
        </code>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ upload_form.solution }}
            <input type="submit" class="btn btn-primary" value="Upload">
        </form>
    </div>
</div>


<!--
<ul>
    {% for submit in submits %}
    <li>
        <a href="{% url 'task_detail' task.id submit.id %}">
            {{ submit.id }}
        </a>
        {{ submit.evaluated_points }}
        {{ submit.points }}
    </li>
    {% endfor %}
</ul>
-->

{% include "web/report.html" %}
{% endblock %}