{% extends 'web/layout.html' %}

{% load static %}

{% block content %}

{% for subject in subjects %}
  <a href="{% url 'teacher_index' subject.abbr %}">{{ subject.abbr }}</a>
{% endfor %}

{% for class in classes %}
<div id="class-block-{{class.class.id}}">
<div class="card mb-2" style="position: initial">
      <div class="card-header">
          <div class="float-right">
            <a href="{% url 'admin:common_assignedtask_add' %}?clazz={{ class.class.id }}" title="Assign new task"><i class="fas fa-calendar-plus"></i></a>
            <a href="{% url 'download_csv_per_class' class.class.id %}" title="Download CSV with results for all task"><i class="fas fa-file-csv"></i></a>
          </div>
          <button class="btn btn-link" data-toggle="collapse" data-target="#class-{{class.class.id}}" aria-expanded="true" aria-controls="collapseOne">
            <h5>{{ class.class }}</h5>
          </button>
      </div>
      <div id="class-{{class.class.id}}" class="collapse{% if class.students|length < 50 %}show{%endif%}" aria-labelledby="headingOne" data-parent="#class-block-{{class.class.id}}">
        <div class="card-body">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>Login</th>
                <th>Student</th>
                {% for assignment in class.assignments %}
                <th class="more-hover">
                  <a href="{% url 'teacher_task' assignment.task.id %}">{{ assignment.task.code_name }}</a>
                  <div class="more-content">
                    {{ assignment.task.name }}
                    <a href="{% url 'admin:common_assignedtask_change' assignment.id %}" class="text-muted" title="Edit"><i class="fas fa-pen"></i></a>
                    <div>
                      <a href="{% url 'moss_check' assignment.id %}" title="Send to MOSS"><i class="fas fa-check-double"></i></a>
                      {% if assignment.moss_url %}
                      <a href="{{ assignment.moss_url }}">moss result</a>
                      {% endif %}

                      <a href="{% url 'download_assignment_submits' assignment.id %}" title="Download all source codes"><i class="fas fa-download"></i></a>
                      <a href="{% url 'show_assignment_submits' assignment.id %}" title="Show all source codes"><i class="fas fa-code"></i></a>
                      <a href="{% url 'download_csv_per_task' assignment.id %}" title="Download CSV with results"><i class="fas fa-file-csv"></i></a>
                    </div>
                    <dl>
                      <dt>Assigned</dt>
                      <dd>
                        {{ assignment.assigned|date:"d.m.Y, H:i" }}
                        {% if not assignment.is_visible %}
                          , {{ assignment.assigned|timeuntil }}
                        {% endif %}
                      </dd>

                      <dt>Deadline</dt>
                      <dd>
                        {{ assignment.deadline|date:"d.m.Y, H:i" }}
                        {% if assignment.is_visible %}
                          , {{ assignment.deadline|timeuntil }}
                        {% endif %}
                      </dd>

                      {% if assignment.max_points %}
                      <dt>Max points</dt>
                      <dd>
                        {{ assignment.max_points }}
                      </dd>
                      {% endif %}
                    </dl>
                  </div>
                </th>
                {% endfor %}
              </tr>
            </thead>

            {% for student, points in class.students %}
            <tr>
              <td>{{ student.username }}</td>
              <td>{{ student.get_full_name }}</td>

              {% for point in points %}
              <td>
                  {% if point.submits != 0 %}
                    <a href=
                    {% if point.accepted_submit_num %}
                      "{% url 'task_detail' student.username point.assignment.id point.accepted_submit_num %}#src"
                    {% else %}
                      "{% url 'task_detail' student.username point.assignment.id %}#src"
                    {% endif %}
                    style="color: {{ point.color }}">


                      {% if point.assigned_points is None %}
                        ?
                      {% else %}
                        {{ point.assigned_points }}
                      {% endif %}
                    </a>
                  {% endif %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
  </div>
</div>
{% endfor %}
{% endblock %}

