name: Kelvin CI
on:
  pull_request:
      paths-ignore:
        - 'deployment_service/**'
        - '.github/workflows/deployment_service-ci.yml'
  merge_group:
  push:
    branches:
      - master
  workflow_dispatch:

# Do not allow parallel execution when deploying from the master branch
concurrency: ${{ github.workflow }}-${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && 'deploy' || github.sha }}

jobs:
  test-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Setup Python
        id: setup_python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: "auto"
          version: "0.9.9"

      - name: Install OS dependencies
        run: |
          sudo apt-get install -y libgraphviz-dev build-essential

      - name: Cache venv
        uses: actions/cache@v4
        id: cache-venv
        with:
            path: .venv/
            key: ${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-kelvin-${{ hashFiles('uv.lock') }}

      - name: Restore uv cache
        uses: actions/cache@v4
        with:
          path: /tmp/.uv-cache
          key: uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}

      - name: Install dependencies
        run: |
          uv sync --frozen

      - name: Check migrations
        run: uv run manage.py makemigrations api common web survey quiz --check

      # Update output format to enable automatic inline annotations.
      - name: Lint Python code
        run: uv run ruff check --output-format=github

      - name: Check Python formatting
        run: uv run ruff format --check

      - name: Check lockfile
        run: uv lock --locked

      - name: Pyrefly Python code
        run: uv run pyrefly check
        continue-on-error: true

  test-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: frontend/
        run: |
          npm ci

      - name: Build packages
        working-directory: frontend/
        run: |
          npm run build

      - name: Run tests
        working-directory: frontend/
        env:
          TZ: "CET"
        run: |
          npm run test

      - name: Check lints and formatting
        working-directory: frontend/
        run: |
          npm run check

  build-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker registry
        uses: docker/login-action@v3
        continue-on-error: true
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          cache-from: type=registry,ref=ghcr.io/mrlvsb/kelvin-ci-cache
          # Only write the cache in the main branch
          # https://github.com/docker/build-push-action/issues/845#issuecomment-1512619265
          cache-to: ${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && 'type=registry,ref=ghcr.io/mrlvsb/kelvin-ci-cache,compression=zstd' || '' }}
          tags: ghcr.io/mrlvsb/kelvin:latest,ghcr.io/mrlvsb/kelvin:${{ github.sha }}
          outputs: type=docker,dest=${{ runner.temp }}/kelvin.tar

      - name: Share built image
        uses: actions/upload-artifact@v4
        with:
          name: kelvin
          path: ${{ runner.temp }}/kelvin.tar
          retention-days: 1
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: docs
        run: npm ci

      - name: Build docs
        working-directory: docs
        run: npm run build

      - name: Install markdownlint
        run: npm install -g markdownlint-cli

      - name: Run Markdownlint on MDX files
        working-directory: docs
        run: npx markdownlint "**/*.mdx" "**/*.md"

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/build
  deploy-kelvin:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    needs: [ test-backend, test-frontend, build-docker ]
    environment: production
    if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Checkout deploy script
        uses: actions/checkout@v5
        with:
          sparse-checkout: |
            deployment_service/deploy.py
          sparse-checkout-cone-mode: false

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Download built image
        uses: actions/download-artifact@v4
        with:
          name: kelvin
          path: ${{ runner.temp }}

      - name: Load image
        id: load_image
        run: |
          LOADED=$(docker load --input ${{ runner.temp }}/kelvin.tar)
          # Expected output from `docker load`, based on the previous `build-docker` job:
          # Loaded image: ghcr.io/mrlvsb/kelvin:latest
          # Loaded image: ghcr.io/mrlvsb/kelvin:<Commit SHA>
          echo "$LOADED"
          SHA_TAG=$(echo "$LOADED" | grep -v ':latest' | awk '{print $3}')
          echo "app_image_tag=$SHA_TAG" >> $GITHUB_OUTPUT
          docker image ls -a

      - name: Login to Docker registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker image with SHA tag
        run: docker push ${{ steps.load_image.outputs.app_image_tag }}

      #      - name: Trigger on-prem deployment
      #        run: |
      #          python3 deployment_service/deploy.py \
      #            --service-name app \
      #            --container-name kelvin_app \
      #            --image ${{ steps.load_image.outputs.app_image_tag }} \
      #            --commit-sha ${{ github.sha }} \
      #            --healthcheck-url https://kelvin.cs.vsb.cz/api/v2/health \
      #            --url https://kelvin.cs.vsb.cz/deployment/
      #        env:
      #          WEBHOOK_SECRET: ${{ secrets.WEBHOOK_SECRET }}

      - name: Push Docker image with latest tag
        run: docker push ghcr.io/mrlvsb/kelvin:latest
  deploy-docs:
    runs-on: ubuntu-latest
    needs: [ build-docs ]
    if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  # Summary job to enable easier handling of required status checks.
  # On PRs and merge queues, we need everything to be green, while deploy jobs are skipped.
  # On master, we need everything to be green.
  # ALL THE PREVIOUS JOBS NEED TO BE ADDED TO THE `needs` SECTION OF THIS JOB!
  conclusion:
    needs: [ test-frontend, test-backend, build-docker, deploy-kelvin, deploy-docs ]
    # We need to ensure this job does *not* get skipped if its dependencies fail,
    # because a skipped job is considered a success by GitHub. So we have to
    # overwrite `if:`. We use `!cancelled()` to ensure the job does still not get run
    # when the workflow is canceled manually.
    if: ${{ !cancelled() }}
    runs-on: ubuntu-latest
    steps:
      - name: Conclusion
        run: |
          # Print the dependent jobs to see them in the CI log
          jq -C <<< '${{ toJson(needs) }}'
          # Check if all jobs that we depend on (in the needs array)
          # were either successful or skipped.
          jq --exit-status 'all(.result == "success" or .result == "skipped")' <<< '${{ toJson(needs) }}'
